body {
  font-size: 16px;
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1024px;
  margin: 0 auto;
  font-weight: 400;
}

section {
  background-color: #fff;
  padding: 60px 30px 60px 30px;
  border-radius: 20px;
}

/* general */
p {
  line-height: 22px;
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 22px;
  margin-top: 30px;
}

/* header */
header {
  background-color: #fff;
  height: 60px;
  border-bottom: 1px solid #f3735f;
  line-height: 60px;
}

header img {
  width: 200px;
}

/* main */
main {
  width: 1024px;
  background-attachment: white;
  margin: 0 auto;
  margin-top: 60px;
}

.main_p {
  text-align: center;
  margin-bottom: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
}

.main_time {
  text-align: center;
  background-color: #8a98b1;
  width: 400px;
  height: 45px;
  margin: 0 auto;
  border-radius: 10px;
}

.main_time p {
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.section_picture {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 400px;
}

.section_picture img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  /* object-fit: contain;
  object-fit: cover; */
}

.ingredient {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #6c6c6c;
  margin-left: 16px;
  line-height: 35px;
}

.Preparation {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #393c6c;
}

/* footer */
footer {
  margin-top: 30px;
  text-align: center;
  color: grey;
  padding: 20px 20px 20px 20px;
  font-size: 12px;
}
